
<!doctype html>

<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Organicamente - Login</title>

</head>

<body>

<% const existeUsuario = typeof usuario != 'undefined'%>

<% let existeNombre = typeof nombre !== 'undefined'%>
<% let existeApellido = typeof apellido !== 'undefined'%>
<% let existeEmail = typeof email !== 'undefined'%>
<% let existeTelefono = typeof telefono !== 'undefined'%>
<% let existeDireccion = typeof direccion !== 'undefined'%>
<% let existeUsername = typeof username !== 'undefined'%>
<% let existePassword = typeof password !== 'undefined'%>
<% let existeIdentificacion = typeof identificacion !== 'undefined'%>


<h1> <%= existeUsuario ? 'Editar': 'Crear' %> usuario</h1>

<% if(existeUsuario) {%>
    <% existeNombre = true %>
    <% existeApellido = true%>
    <% existeEmail = true %>
    <% existeTelefono = true %>
    <% existeDireccion = true %>
    <% existeUsername = true %>
    <% existeIdentificacion = true %>

    <% nombre = usuario.nombre%>
    <% apellido = usuario.apellido%>
    <% email = usuario.email%>
    <% telefono = usuario.telefono%>
    <% direccion= usuario.direccion%>
    <% username= usuario.username%>
    <% identificacion= usuario.identificacion%>

<%}%>


<% if(typeof error != 'undefined'){%>
    <p> MENSAJE: <%= error %></p>
<% }%>

<form action=" <%= existeUsuario ? '/usuario/editarDesdeVista/' + usuario.usuarioId : '/usuario/crearDesdeVista'%>" method="POST">

    <label for="nombre">Nombre:</label>
    <input id="nombre" type="text" name="nombre" value="<%= existeNombre ? nombre: '' %>">
    <br>
    <label for="apellido">Apellido:</label>
    <input id="apellido" type="text" name="apellido" value="<%= existeApellido ? apellido: '' %>">
    <br>
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" value="<%= existeEmail ? email: '' %>">
    <br>
    <label for="telefono">Telefono:</label>
    <input id="telefono" type="text" name="telefono" value="<%= existeTelefono ? telefono: '' %>">
    <br>
    <label for="direccion">Direccion:</label>
    <input id="direccion" type="text" name="direccion" value="<%= existeDireccion ? direccion: '' %>">
    <br>
    <label for="username">Username:</label>
    <input id="username" type="text" name="username" value="<%= existeUsername ? username: '' %>">
    <br>
    <label for="password">Password:</label>
    <input id="password" type="password" name="password">
    <br>
    <label for="identificacion">Identificacion:</label>
    <input id="identificacion"
           type="text"
    <% if(existeUsuario) {%>
           disabled
            <%}%>
           name="identificacion"
           value="<%= existeIdentificacion ? identificacion: '' %>">
    <br>

    <button type="submit">SUBMIT</button>
    <button type="reset">RESET</button>
    <button type="button">BUTTON</button>

</form>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

</body>

</html>





