<% const existeFactura = typeof factura !== 'undefined' %>

<% let orden = [] %>



<% if(typeof error != 'undefined'){%>
    <p> MENSAJE: <%= error %></p>
<% }%>

<!--<form action=" <%= existeFactura ? '/factura/editarDesdeVista/' + factura.facturaId : '/factura/crearDesdeVista'%>" method="POST">-->
<form action="/factura/crearDesdeVista" method="POST">

    <h3>Poner algún título pepa para que no se vea tan vacío</h3>

    <label for="total">Total:</label>
    <input id="total" type="text" disabled name="total" value=0.0>
    <br>


    <table>
        <tr>
            <th>NOMBRE</th>
            <th>PRECIO UNITARIO</th>
            <th>UNIDAD DE VENTA</th>
            <th>IMAGEN</th>
            <th>VENDEDOR</th>
            <th>ACCIONES</th>
        </tr>


        ARREGLAR ESTO *********************************************************
        <% arregloUsuarioProductos.forEach((objeto) => { %>
            <tr>
                <td ><%= objeto.producto.nombre %></td>
                <td ><%= objeto.precio %> </td>
                <td><%= objeto.unidad.nombre %> </td>
                <td><img src="/imagenes/<%= objeto.imagen %>" width="400" height="300" ></td>
                <td><%= objeto.usuario.apellido + ' ' + objeto.usuario.nombre %> </td>

                <td><input id="cantidad" type="number"></td>
                <td>
                    <button type="button" onclick="cargarProducto(orden, document.getElementById('cantidad').value,objeto.precio, objeto.producto.productoId, objeto.producto.nombre)">AÑADIR A COMPRA</button>
                </td>
            </tr>
        <% console.log("ESTA ES LA ORDEN:*********" + orden) %>
        <% }) %>

    </table>





    <table>
        <tr>
            <th>CANTIDAD</th>
            <th>PRECIO</th>
            <th>VALOR</th>
            <th>PRODUCTO</th>
        </tr>
    </table>




    <button type="submit">SUBMIT</button>
    <button type="reset">RESET</button>

</form>


<%- include('../compartido/funcionalidad-general/funcionalidad-general-component') %>
