<%- include('../compartido/estilos-generales/estilos-generales-component') %>
<%- include('../compartido/menu/menu-component') %>

<a href="/factura/vista/crear">
    <button>
        CREAR
    </button>
</a>

<% if(typeof parametrosConsulta != 'undefined') {%>
    <p> MENSAJE: <%= parametrosConsulta.mensaje%></p>
<% }%>

<table>
    <tr>
        <th>N° FACTURA</th>
        <th>FECHA</th>
        <th>TOTAL</th>
        <th>CUMPLIDO</th>
        <th>USUARIO</th>
    </tr>

    <% arregloFacturas.forEach((objeto) => { %>
            <tr>
                <td><%= objeto.facturaId %></td>
                <td><%= objeto.fecha %> </td>
                <td><%= objeto.total %> </td>
                <td><%= objeto.cumplido %> </td>
                <td><%= objeto.usuario.nombre %> </td>
                <td>
                    <button>Ver</button>
                    <a href="/factura/vista/editar/<%=objeto.facturaId%>">
                        <button>Editar</button>
                    </a>

<!--                    <form action="/factura/eliminarDesdeVista/<%= objeto.facturaId %>" method="post">
                        <button>Eliminar</button>
                    </form>-->
                </td>
            </tr>
    <% }) %>

</table>