<%- include('../compartido/estilos-generales/estilos-generales-component') %>

<a href="/detalle-factura/vista/crear">
    <button>
        CREAR
    </button>
</a>


<table>
    <tr>
        <th>CANTIDAD</th>
        <th>PRECIO</th>
        <th>VALOR</th>
        <th>PRODUCTO</th>
        <th>FACTURA</th>
    </tr>

    <% arregloDetalleFacturas.forEach((objeto) => { %>
        <tr>
            <td><%= objeto.cantidad %></td>
            <td><%= objeto.precio %> </td>
            <td><%= objeto.valor %> </td>
            <td><%= objeto.nombre %> </td>
            <td><%= objeto.facturaFacturaId %> </td>

        </tr>
    <% }) %>

</table>