<%- include('../compartido/estilos-generales/estilos-generales-component') %>
<%- include('../compartido/menu/menu-component') %>

<a href="/unidad/vista/crear">
    <button>
        CREAR
    </button>
</a>

<% if(typeof parametrosConsulta != 'undefined') {%>
    <p> MENSAJE: <%= parametrosConsulta.mensaje%></p>
<% }%>

<table>
    <tr>
        <th>Nombre</th>
        <th>Acciones</th>
    </tr>

    <% arregloUnidades.forEach((objeto) => { %>
        <tr>
            <td><%= objeto.nombre %></td>
            <td>
                <button>Ver</button>
                <a href="/unidad/vista/editar/<%=objeto.unidadId%>">
                    <button>Editar</button>
                </a>
                <form action="/unidad/eliminarDesdeVista/<%= objeto.unidadId %>" method="post">
                    <button>Eliminar</button>
                </form>
            </td>
        </tr>
    <% }) %>

</table>
