<h1>CREAR USUARIO-ROL</h1>


<% if(typeof error != 'undefined'){%>
    <p> MENSAJE: <%= error %></p>
<% }%>

<form action="/usuario-rol/crearDesdeVista" method="POST">

    <label for="usuario">Elija el usuario:</label>
    <select name="usuario" id="usuario">
        <% arregloUsuarios.forEach((objeto) => { %>
           <option value="<%= objeto.usuarioId%>" selected ><%= objeto.apellido + ' ' + objeto.nombre%></option>
        <%})%>
    </select>
    <br>

    <br>

    <label for="rol">Elija el rol:</label>
    <select name="rol" id="rol">
        <% arregloRoles.forEach((objeto) => { %>
            <option value="<%= objeto.rolId%>" selected ><%= objeto.nombre%></option>
        <%})%>
    </select>
    <br>

    <button type="submit">SUBMIT</button>
    <button type="reset">RESET</button>


</form>

