




<% const existeUsuarioProducto = typeof usuarioProducto != 'undefined'%>

<% let existeProducto = typeof producto !== 'undefined'%>
<% let existeStock = typeof stock !== 'undefined'%>
<% let existePrecio = typeof precio !== 'undefined'%>
<% let existeUnidad = typeof unidad !== 'undefined'%>
<% let existeUsuario = typeof usuario !== 'undefined'%>
<% let existeImagen = typeof imagen !== 'undefined' %>


<h1> <%= existeUsuarioProducto ? 'Editar': 'Crear' %> usuario producto</h1>

<% if(existeUsuarioProducto) {%>
    <% existeProducto = true %>
    <% existeStock = true %>
    <% existePrecio = true %>
    <% existeUnidad = true %>
    <% existeUsuario = true %>
    <% existeImagen = true%>

    <% producto = usuarioProducto.producto.nombre%>
    <% stock = usuarioProducto.stock %>
    <% precio = usuarioProducto.precio %>
    <% unidad = usuarioProducto.unidad.nombre %>
    <% unidadId = usuarioProducto.unidad.unidad_id %>
    <% usuario = usuarioProducto.usuario.username%>
    <% imagen = usuarioProducto.imagen %>

<%}%>



<% if(typeof error != 'undefined'){%>
    <p> MENSAJE: <%= error %></p>
<% }%>

<form action=" <%= existeUsuarioProducto ? '/usuario-producto/editarDesdeVista/' + usuarioProducto.usuarioProductoId : '/usuario-producto/crearDesdeVista'%>" method="POST" enctype="multipart/form-data">

    <% if(existeUsuarioProducto) {%>
        <label for="productoProductoId">Producto:</label>
        <input id="productoProductoId" type="text" disabled name="producto" value="<%= existeProducto ? producto: '' %>">
    <%} else {%>
        <label for="producto">Elija su producto</label>
        <select name="producto" id="producto">
            <% arregloProductos.forEach((objeto) => { %>
                <option value="<%= objeto.productoId%>" selected><%= objeto.nombre%></option>
            <%})%>
        </select>
    <%}%>
    <br>


    <label for="stock">Stock:</label>
    <input id="stock" type="number" name="stock" value="<%= existeStock ? stock: '' %>">
    <br>

    <label for="precio">Precio Unitario:</label>
    <input id="precio" type="text" name="precio" value="<%= existePrecio ? precio: '' %>">
    <br>


    <label for="unidad">Elija la unidad</label>
    <select name="unidad" id="unidad">
        <% arregloUnidades.forEach((objeto) => { %>
        <% if (existeUsuarioProducto) {%>
            <% if (objeto.unidadId == unidadId){%>
                <option value="<%= objeto.unidadId%>" selected ><%= objeto.nombre%></option>
            <% } else { %>
                <option value="<%= objeto.unidadId%>" selected><%= objeto.nombre%></option>
            <% }%>
        <%} else {%>
                <option value="<%= objeto.unidadId%>" selected><%= objeto.nombre%></option>
        <%}})%>
    </select>
    <br>


    <label for="usuarioUsuarioId">Usuario:</label>
    <input id="usuarioUsuarioId" type="text"
            <% if(existeUnidad) {%>
                   disabled
            <%}%>
           name="usuario" value="<%= existeUsuario ? usuario: '' %>">
    <br>


    <% if (existeImagen) {%>
        <label for="imagenProducto">Imagen actual:</label>
        <img id="imagenProducto" src="/imagenes/<%= imagen %>" width="400" height="300">
    <% } %>
    <br >

    <label for="imagen">Imagen:</label>
    <input type="file" id="imagen" name="imagen" accept="image/*"  >
    <br>



    <button type="submit" >SUBMIT</button>
    <button type="reset">RESET</button>
    <button type="button">BUTTON</button>
    <button >adf</button>

</form>



