<%- include('../compartido/estilos-generales/estilos-generales-component') %>

<a href="/usuario-producto/vista/crear">
    <button>
        CREAR
    </button>
</a>

<table>
    <tr>
        <th>Producto</th>
        <th>Stock</th>
        <th>Precio</th>
        <th>Unidad</th>
        <th>Usuario</th>
        <th>Imagen</th>

    </tr>

    <% arregloUsuarioProductos.forEach((objeto) => { %>
        <tr>
            <td><%= objeto.producto.nombre%></td>
            <td><%= objeto.stock %></td>
            <td><%= objeto.precio %></td>
            <td><%= objeto.unidad.nombre%></td>
            <td><%= objeto.usuario.username%></td>
            <td><img src="/imagenes/<%=objeto.imagen%>" width="400" height="300" /></td>
            <td>
                <button>Ver</button>
                <a href="/usuario-producto/vista/editar/<%=objeto.usuarioProductoId%>">
                    <button>Editar</button>
                </a>
                <form action="/usuario-producto/eliminarDesdeVista/<%= objeto.usuarioProductoId %>" method="post">
                    <button>Eliminar</button>
                </form>
            </td>
        </tr>
    <% }) %>

</table>
